<div class="flex justify-between mt-10 ">
    <div class="flex mx-32">
        <%= form_with(url: index_path, method: :get, local: true, class: ' flex items-center') do %>
            <%= text_field_tag :query, params[:query], class: 'rounded-xl search-input' %>
            <%= button_tag(type: 'submit', class: 'search-button ml-3') do %>
            <i class="fas fa-search"></i>
            <% end %>
        <% end %>  
         <div class="">
            <%= link_to index_path, class: " mt-3 ml-3 flex items-center" do %>
                <i class="fa fa-retweet" aria-hidden="true"></i>
            <% end %>
        </div> 
    </div>
    <% if has_permission?('Articulos', 'Crear')%>
    <div class="mr-5">
        <%= link_to new_path, class: "rounded-md bg-amber-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-amber-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pink-600 flex items-center" do %>
            Nuevo artículo <i class="fa fa-plus ml-2" aria-hidden="true"></i>
        <% end %>
    </div>
    <%end%>
</div>
<div class="relative overflow-x-auto container mt-7 mx-32">
    <% if notice %>
        <p id="alert-message"  data-controller="alert" class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" ><%= notice %></p>
    <% end %>

    <% if alert %>
        <p id="alert-message" data-controller="alert" class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" >
            <%= alert %>
        </p>
    <% end %>
    <table class="w-full table-auto border  border-gray-200 shadow-md rounded-lg">
        <thead class="bg-gray-100">
            <tr>
                <th scope="col" class="px-6 py-3 text-left">
                    Nombre del Articulo
                </th>
                <th scope="col" class="px-6 py-3 text-left">
                    Precio
                </th>
                <th scope="col" class="px-6 py-3 text-left">
                    Categoria
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Imagen
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Estado
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Acción
                </th>
            </tr>
        </thead>
        <tbody>
            <% @articles.each do |article| %>
                <tr class="bg-white border-b article">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        <%= article.title %>
                    </th>
                    <td class="px-6 py-4">
                        <%= article.price %> $
                    </td> 
                    <td class="px-6 py-4 font-medium whitespace-nowrap">
                        <%= article.category.title %>
                    </td>
                    <td class="px-6 py-4 text-center">
                        <% if article.attachment.attached? %>
                            <%= image_tag article.attachment, style: "width: 100px; height: auto;" %>
                        <% end %>
                    </td>
                    <td class="px-6 py-4 text-center">
                        <% if article.status == "active" %>
                            <span class="bg-green-600 text-white rounded-full px-3 py-1">Activo</span>
                        <% else %>
                            <span class="bg-red-600 text-white rounded-full px-3 py-1">Inactivo</span>
                        <% end %>
                    </td>
                    <td class="px-6 py-4 text-center">
                        <div class="flex justify-center space-x-2">
                             <% if has_permission?('Articulos', 'Editar') %>
                            <a href="<%= edit_article_path(article.id) %>" class="bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
                                <i class="fas fa-pencil"></i>
                            </a>
                            <%end%>
                            <% if has_permission?('Articulos', 'Eliminar') %>
                                <%= link_to delete_article_path(article), 
                                    method: :delete, 
                                    data: { confirm: "¿Seguro que quieres eliminar este artículo?" }, 
                                    class: 'bg-red-700 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded' do %>
                                    <i class="fas fa-trash"></i>
                                <% end %>  
                            <%end%>
                            <% if article.status == "active" %>
                                <%= link_to toggle_status_path(article), method: :patch, class: 'bg-red-600 hover:bg-red-700 rounded-full text-white font-bold p-2 flex items-center justify-center', data: { confirm: "¿Quieres desactivar este artículo?" } do %>
                                    <i class="fas fa-exclamation-circle"></i> 
                                <% end %>
                            <% else %>
                                <%= link_to toggle_status_path(article), method: :patch, class: 'bg-green-500 hover:bg-green-600 rounded-full text-white font-bold p-2 flex items-center justify-center', data: { confirm: "¿Quieres activar este artículo?" } do %>
                                    <i class="fas fa-check-circle"></i> 
                                <% end %>
                            <% end %>
                        </div>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<div class="flex justify-center mt-5">
    <%= paginate @articles %>
</div>

