<%= form_for @size, url: update_size_path(@size) do |f| %>

<%if @size.errors.any? %>
    <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
      <strong class="font-bold"><%= pluralize(@size.errors.count, "error") %> impidieron que la talla se guardara:</strong>
      <ul class="list-disc pl-5 mt-2">
        <% @size.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class ="container mx-32">
 
	<div class="space-y-12">
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-12">
            <div class="sm:col-span-6 ">
                <%= f.label :title,  "NOMBRE DE LA TALLA" ,class: "block text-sm font-medium leading-6 text-gray-900" %>
                <div class="mt-2">
                    <%= f.text_field :title , class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" , oninput: "this.value = this.value.toUpperCase()" %>
                </div>
            </div>
		</div>

					 <div class="mt-6  mb-14 flex items-center justify-end gap-x-6">
                            <%= link_to "Cancelar", show_size_path %>
							<%= f.submit "Editar TALLA", class:"rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
					 </div>
				</div>
			</div>
		</div>
	<% end %>
</div>

