<div class="container px-40 py-10 ml-20">
  <%= form_with(model: @user, url: update_user_path(@user), method: :patch, local: true) do |f| %>
    <div class="mb-4">
      <%= f.label :username, "Nombre de Usuario", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.text_field :username, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", required: true %>
    </div>

    <div class="mb-4">
      <%= f.label :email, "Correo Electrónico", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.email_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", required: true %>
    </div>

    <div class="mb-4">
      <%= f.label :password, "Contraseña (dejar en blanco si no desea cambiarla)", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= f.label :rol_id, "Rol", class: "block text-sm font-medium leading-6 text-gray-900" %>
      <div class="mt-2">
        <%= f.select :rol_id, @roles.collect { |c| [c.name.upcase, c.id] }, { prompt: "Seleccionar rol" }, { class: "rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 form-select block w-full p-2 text-base font-medium text-gray-700 bg-white border border-gray-300 rounded-md appearance-none caret-indigo-600 transition duration-150 ease-in-out transform" } %>
      </div>
    </div>

    <div class="mt-6  mb-14 flex items-center justify-end gap-x-6">
                            <%= link_to "Cancelar", show_user_path %>
							<%= f.submit "Editar", class:"rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
	</div>
  <% end %>
</div>
