<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-lg">
    <h2 class="text-2xl font-bold text-gray-800 mb-6 text-center">Editar Usuario</h2>
   <% if @user.errors.any? %>
  <div id="alert-message" data-controller="alert" class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" >
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
    <%= form_with(model: @user, url: update_user_path(@user), method: :patch, local: true) do |f| %>
        
      <div>
        <%= f.label :username, "Nombre de Usuario", class: "block text-gray-700 font-medium" %>
        <%= f.text_field :username, class: "w-full p-3 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500", required: true %>
      </div>

      <div>
        <%= f.label :email, "Correo Electrónico", class: "block text-gray-700 font-medium" %>
        <%= f.email_field :email, class: "w-full p-3 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500", required: true %>
      </div>

      <div>
       <div class="mb-4 mt-2">
      <%= f.label :password, "Contraseña (dejar en blanco si no desea cambiarla)", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
      </div>

      <div>
        <%= f.label :role_id, "Rol", class: "block text-gray-700 font-medium" %>
        <%= f.select :role_id, @roles.collect { |c| [c.name.upcase, c.id] }, { prompt: "Seleccionar rol" }, 
          class: "w-full p-3 border border-gray-300 rounded-lg bg-white focus:ring-indigo-500 focus:border-indigo-500" %>
      </div>

      <div class="mb-4">
        <%= f.label :warehouse_ids, "Almacenes", class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= f.collection_select :warehouse_ids, Warehouse.all, :id, :title, { prompt: "Seleccionar almacenes" }, 
            { multiple: true, class: "w-full p-3 border border-gray-300 rounded-lg bg-white focus:ring-indigo-500 focus:border-indigo-500" } %>
        </div>
      </div>

      <div class="flex justify-between items-center mt-6">
        <%= link_to "Cancelar", show_user_path, class: "text-gray-600 hover:text-gray-800 transition duration-200" %>
        <%= f.submit "Actualizar", class: "px-5 py-2 bg-indigo-600 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-500 focus:ring-2 focus:ring-indigo-400 focus:outline-none transition duration-200" %>
      </div>
        
    <% end %>
  </div>
</div>
